<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table align="center" border="2" bgcolor="#7fff00">
     <tr>
         <th width="100">IDNO</th>
         <th width="100">NAME</th>
         <th width="100">SALARY</th>
     </tr>

         {% for x,y in data.items %}

          <tr>
          <td>{{ x }}</td>
          <td>{{ y.name }}</td>
          <td>{{ y.salary }}</td>
          </tr>

         {% endfor %}


 </table>
</body>
</html>