<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#20b2aa">
 <table align="center" border="2">
    <tr><th colspan="2">Employee Info</th></tr>
     <tr><th>EMP_IDNO</th>
     <td>{{ emp_idno }}</td>
     </tr>
     <tr>
         <th>NAME</th>
         <td>{{ name }}</td>
     </tr>
     <tr><th>SALARY</th>
     <td>{{ salary }}</td>
     </tr>
     <tr>
         <th>STATUS</th>
         <td>{{ status }}</td>
     </tr>

 </table>
</body>
</html>